# Byte-compiled / optimized / DLL files
# C extensions
# Celery stuff
# Default exports
# Distribution / packaging
# Environments
# IPython
# Installer logs
# Jupyter Notebook
# PEP 582
# PyBuilder
# PyCharm
# PyInstaller
# SQLite databases
# Scrapy stuff
# Sphinx documentation
# Testing / coverage reports
# Translations
# VisualStudioCode
# cruft
# mypy
# pyenv
# ruff
*$py.class
*.code-workspace
*.cover
*.db
*.egg
*.egg-info/
*.env
*.jpeg
*.manifest
*.mo
*.ndjson
*.pot
*.py,cover
*.py[cod]
*.rej
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.cruft-pr-body
.dmypy.json
.eggs/
.env
.history/
.hypothesis/
.idea/
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build
.pdm-python
.pybuilder/
.pytest_cache/
.python-version
.ruff_cache
.scrapy
.tox/
.venv
.vscode/*
.web
.web/
ENV/
MANIFEST
__pycache__/
__pypackages__/
assets/external/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
data/
develop-eggs/
dist/
dmypy.json
docs/_build/
docs/source/
downloads/
eggs/
env.bak/
env/
htmlcov/
identity.csv
ipython_config.py
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
pytestdebug.log
schema.json
sdist/
share/python-wheels/
target/
tmp*/
var/
venv.bak/
venv/
wheels/
work/
