fail_fast: false
default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/myint/autoflake
    rev: v2.2.0
    hooks:
      - id: autoflake
        args: [--in-place, --remove-all-unused-imports]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [--silent, --ini=.bandit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: pretty-format-json
        args: [--autofix]
      - id: end-of-file-fixer
      - id: debug-statements
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        pass_filenames: true
        additional_dependencies: [".[toml]"]
        exclude: "test_"
  - repo: https://github.com/python-poetry/poetry
    rev: 1.5.1
    hooks:
      - id: poetry-check
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        name: mypy
        files: ^mex/
        additional_dependencies:
          - "fastapi>=0.101.1,<1"
          - "mex-common@git+https://github.com/robert-koch-institut/mex-common.git@feature/mx-1380-update-pydantic-to-v2"
          - "pydantic>=2.1.1,<3"
          - "pydantic-settings>=2.0.2,<3"
          - "pytest>=7.4.2,<8"
          - "uvicorn>=0.23.2,<1"
