services:
  mex-drop:
    build:
      context: .
    ports:
      - 8020:8020
      - 8021:8021
    environment:
      - MEX_DROP_DIRECTORY=data
      - MEX_DROP_API_HOST=0.0.0.0
      - MEX_DROP_USER_DATABASE={"mex":["mex"]}
    expose:
      - 8020
      - 8021
    healthcheck:
      test: [ "CMD", "curl", "http://0.0.0.0:8021/_system/check" ]
      interval: 60s
      timeout: 5s
      retries: 5
    volumes:
      - data:/app/data
volumes:
  data:
