[tool.poetry]
name = "mex-drop"
version = "0.1.0"
description = "Data upload API for the MEx project."
authors = ["RKI MEx Team <mex@rki.de>"]
license = "MIT"
readme = "README.md"
packages = [{include = "mex"}]

[tool.poetry.dependencies]
python = "^3.11"
jinja2 = "^3.1.2"
fastapi = "^0.100.0"
mex-common = { git = "https://github.com/robert-koch-institut/mex-common.git", rev = "0.9.1" }
uvicorn = {extras = ["standard"], version = "^0.23.1"}

[tool.poetry.group.dev.dependencies]
autoflake = "^2.2.0"
black = "^23.7.0"
httpx = "^0.24.1"
ipdb = "^0.13.13"
isort = "^5.12.0"
mypy = "^1.4.1"
mypy-extensions = "^1.0.0"
pytest-cov = "^4.1.0"

[tool.poetry.scripts]
drop = "mex.drop.main:main"
token = "mex.drop.security:generate_token"

[tool.ipdb]
context=5

[build-system]
requires = ["poetry-core>=1.6.1"]
build-backend = "poetry.core.masonry.api"
